/* css for cat pic */

html {
	font-family: sans-serif;
	hyphens: auto;
}

body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    padding: 0 10px;
}

main {
	display: flex;
	align-items: flex-end;
	flex-direction: row-reverse;
	/* flex-wrap: wrap-reverse; */
}

@media (max-aspect-ratio: 1/1) {
	main {
		flex-wrap: wrap-reverse;
	}
}

.pic {
	flex: 0 1 200px;
}

figcaption {
	font-size: 15px;
}