/* css for cat site */

/* basic components */

html {
	font-family: sans-serif;
	hyphens: auto;
}

body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    padding: 0 10px;
}

no-wrap {
	white-space: nowrap;
}

/* side-by-side discussion w. pic */

main.front, section.intro {
	display: flex;
	align-items: flex-end;
	flex-direction: row-reverse;
}

@media (max-aspect-ratio: 1/1) {
	main.front, section.intro {
		flex-wrap: wrap-reverse;
	}
}

.pic {
	flex: 0 1 200px;
}

div.pic > figure > figcaption {
	font-size: 15px;
}

.shrink {
	width: 180px;
	height: auto;
}

/* facts */

div.facts > figure > figcaption::after {
	content: ":";
}

div.facts > figure > p {
	margin: 10px 0;
}

blockquote {
	margin: 10px 0;
}

blockquote::before {
	content: open-quote;
}

blockquote::after {
	content: close-quote;
}

div.facts > figure {
	background: #b6dbf3;
	padding: 1.5rem;
	border-radius: 1rem;
}
